@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
:root {
  --font: "Poppins", Helvetica, sans-serif;
  --primary-color: #ff7a4e;
  --grey-1: #f2f2f2;
  --grey-2: #bdbdbd;
  --grey-3: #828282;
  --blue-1: #2d9cdb;
  --green-1: #27ae60;
  --red-1: #eb5757;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 5rem;
  --rounded-sm: 8px;
  --rounded: 16px;
  --shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.05);
  --shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  --shadow-hover: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

.App {
  width: 100vw;
  height: 95vh;
  overflow-x: hidden;
}

.container,
nav,
.nav-left,
.nav-logo,
.nav-search {
  display: flex;
}

.container {
  margin: 1rem 3rem;
  flex-direction: column;
}

nav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: 2rem;
  align-items: center;
}
.nav-logo span {
  margin-right: 0.5rem;
  font-size: 30px;
  transform: translateY(-4px);
}

.nav-logo-text h3 {
  margin: 0;
  font-size: 16px;
}
.nav-logo-text p {
  margin: 0;
  font-size: 10px;
  transform: translateY(-8px);
}

.nav-search {
  align-items: center;
  height: 2.5rem;
  border: 1px solid var(--grey-2);
  border-radius: 12px;
}
.nav-search span {
  color: var(--grey-2);
  font-size: 24px;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.nav-search input {
  border: none;
  outline: none;
  margin-right: 0.5rem;
}

.nav-upload {
  background-color: var(--green-1);
  color: white;
  box-shadow: var(--shadow);
  font-size: 14px;
  transition: all 0.25s ease-in-out;
}

.nav-upload:hover {
  background-color: #20914f;
}

.upload-modal {
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.upload-modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 0 1.5rem 1.25rem;
  background: #f2f2f2;
  transform: translateY(-20%);
}
.upload-modal-inner h3 {
  align-self: flex-start;
  font-weight: 500;
  margin-left: 1.25rem;
  margin-bottom: 0.25rem;
}
.upload-modal-inner .input-container {
  margin: 0.25rem 1.25rem;
}
.upload-modal-inner .input-container p {
  align-self: flex-start;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}
.upload-modal-inner .input-container input {
  outline: none;
  padding: 0.5rem 0.75rem;
  height: 2.5rem;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 12px;
}
.upload-modal-inner .upload-options {
  border-radius: 10px;
  background: lightblue;
  border: 2px dashed var(--blue-1);
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.upload-modal-inner .button-container {
  align-self: flex-end;
  margin-top: 1rem;
}
.upload-modal-inner .button-container button {
  font-size: 13px;
}

.confirm-modal {
  padding-top: 1rem;
}
.confirm-modal p {
  align-self: flex-start;
  margin-left: 1rem;
}
.confirm-modal p span {
  font-weight: 600;
}
.confirm-modal h3 {
  margin: 1rem;
}

.status-logo-container {
  background: var(--green-1);
  border-radius: 100%;
  display: grid;
  place-items: center;
  width: 3.75rem;
  height: 3.75rem;
  margin-top: 0.5rem;
}
.status-logo-container span {
  color: white;
  font-size: 48px;
}

.modal--success {
  border: 4px solid var(--green-1);
}

.modal--error {
  border: 4px solid var(--red-1);
}

.cancelBtn {
  color: rgb(165, 165, 165);
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}
.cancelBtn:hover, .cancelBtn:focus, .cancelBtn:focus-visible {
  border: none;
  outline: none;
}

#gallery-container {
  margin-top: 2rem;
  -moz-columns: 3 300px;
       columns: 3 300px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
#gallery-container .card-container {
  margin: 0 2rem 2rem 0;
  display: inline-block;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
#gallery-container .card-container:hover .card-overlay, #gallery-container .card-container:hover .card-details, #gallery-container .card-container:hover .card-delete {
  opacity: 1;
}
#gallery-container .card-container:hover .card-details {
  top: 90%;
}
#gallery-container .card-container .card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(360deg, rgba(2, 0, 36, 0.85) 0%, rgba(0, 0, 0, 0.85) 5%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
#gallery-container .card-container .card-details,
#gallery-container .card-container .card-delete {
  z-index: 9;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
}
#gallery-container .card-container .card-details {
  top: 100%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}
#gallery-container .card-container .card-delete {
  height: 100%;
  top: 0;
  right: 0;
}
#gallery-container .card-container .card-delete span {
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  top: 1rem;
  right: 1rem;
  transition: color 0.1s ease-in-out 0s;
}
#gallery-container .card-container .card-delete span:hover {
  color: white;
  cursor: pointer;
}
#gallery-container .card-container:nth-child(1) {
  height: 593px;
  line-height: 593px;
}
#gallery-container .card-container:nth-child(2) {
  height: 575px;
  line-height: 575px;
}
#gallery-container .card-container:nth-child(3) {
  height: 577px;
  line-height: 577px;
}
#gallery-container .card-container:nth-child(4) {
  height: 319px;
  line-height: 319px;
}
#gallery-container .card-container:nth-child(5) {
  height: 596px;
  line-height: 596px;
}
#gallery-container .card-container:nth-child(6) {
  height: 332px;
  line-height: 332px;
}
#gallery-container .card-container:nth-child(7) {
  height: 474px;
  line-height: 474px;
}
#gallery-container .card-container:nth-child(8) {
  height: 561px;
  line-height: 561px;
}
#gallery-container .card-container:nth-child(9) {
  height: 583px;
  line-height: 583px;
}
#gallery-container .card-container:nth-child(10) {
  height: 307px;
  line-height: 307px;
}
#gallery-container .card-container:nth-child(11) {
  height: 253px;
  line-height: 253px;
}
#gallery-container .card-container:nth-child(12) {
  height: 453px;
  line-height: 453px;
}
#gallery-container .card-container:nth-child(13) {
  height: 457px;
  line-height: 457px;
}
#gallery-container .card-container:nth-child(14) {
  height: 565px;
  line-height: 565px;
}
#gallery-container .card-container:nth-child(15) {
  height: 413px;
  line-height: 413px;
}
#gallery-container .card-container:nth-child(16) {
  height: 382px;
  line-height: 382px;
}
#gallery-container .card-container:nth-child(17) {
  height: 483px;
  line-height: 483px;
}
#gallery-container .card-container:nth-child(18) {
  height: 546px;
  line-height: 546px;
}
#gallery-container .card-container:nth-child(19) {
  height: 474px;
  line-height: 474px;
}
#gallery-container .card-container:nth-child(20) {
  height: 326px;
  line-height: 326px;
}
#gallery-container .card-container:nth-child(21) {
  height: 559px;
  line-height: 559px;
}
#gallery-container .card-container:nth-child(22) {
  height: 522px;
  line-height: 522px;
}
#gallery-container .card-container:nth-child(23) {
  height: 324px;
  line-height: 324px;
}
#gallery-container .card-container:nth-child(24) {
  height: 352px;
  line-height: 352px;
}

.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

@media (width > 1024px) {
  #gallery-container {
    width: 80%;
    align-self: center;
  }
}
@media (width < 620) {
  .container {
    margin: 0 1.5rem;
  }
  nav {
    display: inline-block;
  }
  nav .nav-search input {
    size: 8;
  }
  .nav-logo {
    display: flex;
  }
}/*# sourceMappingURL=App.css.map */